
body{
	background-color: #AEB6BF;
	padding: 20px;
}

h1 {
	font-size: 4em;
	color: #3498DB;
}

a {
    color: #3498DB;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

a:hover {
    text-decoration: none;
}

.info {
    font-size: 20px;
}
/**********************************************************************************

Containers

**********************************************************************************/

.container{
    text-align:center;
}
.container-center{
	width: 450px;
	background-color: white;
	margin: 20px auto;
	padding: 2em;
	text-align: center;
	border-radius: 25px

}

.align-left {
    margin: 3em;
    text-align: left;
}

.container-left{
	padding-right: 2em;
	padding-left: 2em;
	background-color: white;
	margin-top: 0px auto;
	text-align: center;
	border-radius: 25px

}

/**********************************************************************************

Buttons

**********************************************************************************/

.container-button {
	display: inline-block;
	padding-top: 10em;
	padding-bottom: 10em;
}

.button_align {
	float: left;
}


.button {
	background: #3498DB;
	color: white;
	font-size: 2em;
	text-align: center;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	text-shadow: none;
	border-radius: 20px;
	border: none;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 250px;
}

a.button{
    color: white;
}

.button:hover {
	background-color: #2E86C1;
}

/**********************************************************************************

Player

**********************************************************************************/

.player {
    color: white;
    background-color: #3F3F3F;
    border-radius: 20px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.player img{
    margin: 1em;
}
.player h2{
    font-size: 2em;
    color: #3498DB;
}

.player p{
    font-size: 25px;
}

.play a:hover{
    background-color: lightgray;
}
.play{
    background-color: white;
    margin: 5px;
    padding-top: 3px;
    padding-left: 22px;
    padding-right: 15px;
    padding-bottom: 2px;
    border-radius: 50%;
    display: inline-block;
    font-size: 3em;
}

.pause{
    background-color: white;
    margin: 5px;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 6px;
    border-radius: 50%;
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
}

/**********************************************************************************

Log In

**********************************************************************************/
input {
	text-align: center;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	padding: 10px 0;
	width: 250px;
	transition: border .5s;
}

input.submit{
    background:none;
    border:none;
    font-size: 2em; 
	color: #3498DB;
}

/**********************************************************************************

Loader

***********************************************************************************/

.loader {
    display: inline-block;
    margin: 2em;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**********************************************************************************

Side Navigation Menu

***********************************************************************************/
.menu {
	font-size: 6em;
    padding:0px;
    margin:0px;
    color: #566573;
	float: left;
}

.menu a:hover, .offcanvas a:focus{
    color: #566573;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #AEB6BF;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #566573;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: white;
}

a.active {
    color: white;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

