
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">



    <title>Sync | Host</title>
        
        <!--Bootstrap CSS--> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <!--CSS--> 
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script type="text/javascript" src="../static/js/script.js"></script>

</head>
    
<body>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('end') }}">End Session</a>
	</div>

	<!-- Menu bars -->
	<div class="container-left">
		<div class="menu">
			<a href="#">
			<span onclick="openNav()">&equiv;</span>
			</a>
		</div>

		<div id="main">
			<h1>Host A Session</h1>
            <br>
            <h2>Enter a Session ID to create the session</h2>
            <br>
            {% if sessionerror %}
                ERROR:SESSION ALREADY EXISTS <br>
            {% endif %}
            <form method="POST">
                <input type="text" name="sname" value="" placeholder="Enter Session ID">
                <br>
                <input class="submit" type="submit" value="Submit">
            </form>
            <br>
        </div>
	</div>

</body>
</html>
