<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sync</title>

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	
</head>

<body>
	<div class="container-center">
		<div class="text-left">
			<h1>Sync</h1>
			<h2>Share your Spotify and Youtube audio with nearby friends</h2>
		</div>
		<br><br><br>
		{% if current_user.is_authenticated %}
		<h2>Hi, {{ current_user.name }}</h2>
        <br>
        <a href="home" role="button">(home)</a>
		{% else %}
		<p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook
			{% endif %}
			<br><br><br><br>
	</div>

</body>
</html>