<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sync</title>

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	
</head>

<body>
	<div class="container-center">
		<div class="text-left">
			<h1>Sync</h1>
			<h2>Share your Spotify and Youtube audio with nearby friends</h2>
		</div>
		<br><br><br>
		<a href="showLogIn" role="button">Log in with Facebook</a>
		<br><br><br><br>
	</div>

</body>
</html>