<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sync | Host</title>
        
        <!--Bootstrap CSS--> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <!--CSS--> 
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <script type="text/javascript" src="../static/js/script.js"></script>
        
        <!-- Auto refresh -->
        <meta http-equiv="refresh" content="2">

</head>
    
<body>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('logout') }}">Logout</a>
	</div>

	<!-- Menu bars -->
	<div class="container-left">
		<div class="menu">
			<a href="#">
			<span onclick="openNav()">&equiv;</span>
			</a>
		</div>

		<div id="main">
            
                <h2>Waiting for guests to join session: {{ sessionname }}</h2>
                <div class="loader"></div>
                <br>
                <div class="info">{{ in_session }}</div>
                <br>
                <h2><a href="{{ url_for('room', sessionname = sessionname) }}" role="button">Begin Session</a></h2>

        </div>
	</div>

</body>
</html>